#recursive ds store 
**/.DS_Store

#c build stuff
cpp/.cache/
cpp/.cmake/
cpp/build/
compile_commands.json

#rust target and cargo lock
rust/target/
rust/cargo.lock

#python stuff to ignore
python/src/__pycache__
