#recursive ds store 
**/.DS_Store

compile_commands.json

#c++ build stuff
cpp/.cache/
cpp/.cmake/
cpp/build/

#c build stuff
c/.cache/
c/.cmake/
c/build/

#rust target and cargo lock
rust/target/
rust/cargo.lock

#python stuff to ignore
python/src/__pycache__
